header{
    display: flex;
    flex-flow: row nowrap;
    padding: 0 1em;
    background-color: #F8F9FA;
    align-items: center;
}

.navegacao__cabecalho {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

.navegacao__cabecalho___item {
    margin: 0 1em;
    color: #f0f0f0;
}

a.ativo{
    color: #333333;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #a8a8a8;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

a:active {
    text-decoration: none;
    color: #000000;
}

li:first-child{
    border-bottom: 2px solid #000;
}


@media screen and (min-width: 0) {
    .cabecalho {
        padding: 0 1rem;
        justify-content: center;
    }

    .logo {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0 5rem;
        justify-content: space-between;
    }

    .logo {
        display: block;
    }
}